.primary_color{
-fx-background-color:#181a20;
}
.secondary-color{
-fx-background-color:#1e1f24 ;
}
.selected{
-fx-border-color :transparent;
-fx-border-width: 0 0 0 5 ;
}
.search-container{
-fx-background-color:#fff ;
-fx-background-radius:100px ;
}
.scroll-pane > .viewport {
 -fx-background-color: #181818 ;
}
